@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}
.main-container{
  
}

.expense-details{
  height: 80px;
  width: 900px;
  border: 2px solid black;
  border-radius: 0 0 30px 30px;
  padding: 0 20px 0 20px;
  margin: 40px auto 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand h1{
  text-align: center;
}
.brand p{
  text-align: center;
}
.heading1{
  margin: auto;
  position: relative;
  top: 50px;
  border-radius: 30px 30px 0 0 ;
  text-align: center;
  width: 940px;
  background-color: rgb(141, 190, 239);
  border: 2px solid black;
}
.heading2{
  margin:  auto;
  border-radius: 30px 30px 0 0 ;
  text-align: center;
  width: 99.2vw;
  background-color: rgb(141, 190, 239);
  border: 2px solid black;
}

.expense-details input{
  border-radius: 20px;
  border: none;
  font-size: 16px;
  background-color: aliceblue;
  box-shadow: 5px 5px 5px gray;
  padding-left: 10px;
  outline: none;
  margin-right: 20px;
  
}
.expense-details select{
  border-radius: 20px;
  border: none;
  background-color: aliceblue;
  box-shadow: 5px 5px 5px gray;
  padding-left: 10px;
  outline: none;
  margin-right: 20px;
  font-size: 16px;
}

.title{
  height: 40px;
  width: 260px;
}
.amount{
  height: 40px;
  width: 160px; 
}
.date{
  height: 40px;
  width: 130px;
}
.category{
  height: 40px;
  width: 160px;
}
.add-btn{
  height: 30px;
  width: 60px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  background-color: rgb(21, 144, 252);
  box-shadow: 5px 5px 5px gray;
  outline: none;
  font-weight: 600;
  margin-right: 20px;
}
.add-btn:active{
  background-color: rgb(85, 164, 232);
}
.transaction{
  width: 97vw;
  border: 2px solid black;
  padding: 20px;
  margin: auto;
  
}
.list-titles{
  display: flex;
  justify-content: space-around;
}
.Results li{
  width: 99vw;
  border: 2px solid black;
  height: 40px;
  padding-top: 20px;
  display: flex;
  position: relative;
  justify-content: space-around;
  margin: auto;
}

li #title{
  /* border: 2px solid black;
  width: 200px;
  word-break: break-all;
  margin-left: 100px; */
  position: absolute;
  left: 150px;
  
}

li #amount{
  position: absolute;
  left: 550px;
}

li #date{
  position: absolute;
  left: 900px;
}

li #category{
  position: absolute;
  left: 1300px;
}
li #img{
  position: absolute;
  right:190px;
}
#img:hover{
  background-color: gray;
  border-radius: 10px;
}

.filter{
  position: absolute;
  right: 20px;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;

}
.filter:hover{
  background-color: rgb(198, 222, 222);
}

.card{
  width: 300px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgb(48, 161, 222);
  right: 5%;
}

.add-trxn{
  display: none;
}
@media (max-width:600px){
  .heading1{
    height: 40px;
    width: 340px;
    font-size: 12px;
  }
  .expense-details{
    height: 400px;
    width: 300px;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(213, 216, 218);
  }
  


}

